h2 {
    text-align: center;
    color: blueviolet;
}

p {
    background-color: lightgray;
}

label {
    color: red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1.main-title {
    text-align: center;
}

label.required {
    font-size: 30px;
    font-style: italic;
    color: aqua;
}

div {
    background-color: beige;
}

p.f1 {
    color: chocolate;
    font-size: 50px;
    background-color: burlywood;
}

p.f2 {
    color: chartreuse;
    font-size: 30px;
    background-color: antiquewhite;
}

label.h1 {
    font: 16px lighter "times new roman", verdana;
    font-size-adjust: 0.85;

}

label.h2 {
    font-size: 18px;
}

label.h3 {
    font-size: 24px;
}